<!DOCTYPE html>
<html>
  <head>
    <title>Recettes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
<% if user_signed_in? %>
    <%= link_to 'Acceuil', '/' %>
    <%= link_to 'Mes recettes', '/mesrecettes' %>
    <%= link_to 'Controller Administration (POUR TEST)', '/admin/recettes/:is_admin' %>
    <%= link_to 'logout', destroy_user_session_path, method: "delete"%>

<% else %>
    <%= link_to 'login', new_user_session_path %>
<% end %>

<hr />

<!-- Sidebar (hidden by default) -->


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
